#countLabel{
    display: block;
    text-align: center;
    font-size: 8em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#buttonContainer{
    text-align: center;
}
/* #increase{
    background-color: green;
    color: white;
}
#decrease{
    background-color: red;
    color: white;
}
#reset{
    background-color: yellow;
    color: rgb(50, 50, 1);
} */
.button{
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    cursor:progress;
    background-color: chocolate;
    transition: background-color 0.25s;
}
.button:hover{
    background-color:rgb(239, 194, 111);
}

