body{
    font-family: 'Times New Roman', Times, serif;
    font-size:large;
    font-weight: 300;
    background-color: beige;
}

#mysubmit {
    border-radius: 5px;
    height: 30px;
    width: 75px;
    font-size: large;
}