body{
    font-family: 'Times New Roman', Times, serif;
    font-size:large;
    font-weight: 300;
    background-color: beige;
}

/* #mysubmit {
    border-radius: 5px;
    height: 30px;
    width: 75px;
    font-size: large;
} */

.box{
    height:200px;
    width: 200px;
    border: 3px solid black;
    margin-bottom: 5px;
    background-color: lightgreen;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: absolute;
}
.button{
    margin: 5px;
    text-align: center;
    margin-left: 75px;
}