body{
    font-family: sans-serif;
    background-color: rgb(216, 213, 213);
    text-align: center;
}
h1{
    color: rgb(85, 85, 232);
}
form{
    background-color: white;
    text-align: center;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgb(18, 1, 58);
}
#textbox{
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
    border: 3px solid rgb(90, 90, 221);
}
label{
    font-size: 1em;
    font-weight: bold;
}
button{
    border-radius: 8px;
    font-size: 1em;
    padding: 10px;
    background-color: rgb(144, 84, 234);
    color: white;
    cursor: pointer;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.689);
}
button:hover{
    background-color: blueviolet;
}
#results{
    font-weight: bold;
    font-size: 1.5em;
}